 **Question 1 : Basic if - else with list element**

In [1]:
numbers = [10,20,30,40]
if(numbers[0]>25):
    print("First element is large")
else:
    print("First element is small")

First element is small

**Question 2 : Modify list based on condition**

In [3]:
scores = [45,67,89,92,54,31]
new_score =[]
for score in scores:
    if score >= 50:
        new_score.append("Pass")
    else:
        new_score.append("Fail")
print(new_score)

['Fail', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail']

**Question 3 : Check for an Item in a List (Membership Test)**

In [7]:
fruits = ['apple','banana','mango','grape']
a = input("Enter your favorite fruit : ").lower()
if a in fruits:
  print(f"{a} is in the list")
else:
  print(f"{a} is not in the list")

Enter your favorite fruit : peach
peach is not in the list
Enter your favorite fruit : mango
mango is in the list

**Question 4 : Conditional Sum of List Elements**

In [8]:
values = [1,-2,3,-4,5,6]
sum = 0
for value in values:
    if value % 2 == 0:
        sum = sum + value
print(sum)

0

**Question 5 : Find maximum with condition : You have a list data = [120, 330, 40, 550, 60]. Find the largest number in the list that is less than 500. Print the number. If no number is found, print "No valid number found".**

In [ ]:
data = [120,330,40,550,60]
for value in data: