 **Question 1 : Basic if - else with list element**

In [ ]:
numbers = [10,20,30,40]
if(numbers[0]>25):
    print("First element is large")
else:
    print("First element is small")

First element is small

**Question 2 : Modify list based on condition**

In [ ]:
scores = [45,67,89,92,54,31]
new_score =[]
for score in scores:
    if score >= 50:
        new_score.append("Pass")
    else:
        new_score.append("Fail")
print(new_score)

['Fail', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail']

**Question 3 : Check for an Item in a List (Membership Test)**

In [ ]:
fruits = ['apple','banana','mango','grape']
a = input("Enter your favorite fruit : ").lower()
if a in fruits:
  print(f"{a} is in the list")
else:
  print(f"{a} is not in the list")

Enter your favorite fruit : peach
peach is not in the list
Enter your favorite fruit : mango
mango is in the list

**Question 4 : Conditional Sum of List Elements**

In [ ]:
values = [1,-2,3,-4,5,6]
sum = 0
for value in values:
    if value % 2 == 0:
        sum = sum + value
print(sum)

0

**Question 5 : Find maximum with condition**

In [5]:
data = [120,330,40,550,60,490,502,450]
new = [value for value in data if value < 500]
if new:
  print(max(new))
else:
  print("No valid number found")

490

**Question 6: Categorize List Elements**

In [13]:
mixed = [12, 'hello', 33, 'world', 7.5, 100]
integer = []
string = []

for val in mixed:
    if type(val) == int:
        integer.append(val)
    elif type(val) == str:
        string.append(val)

print(integer)
print(string)

[12, 33, 100]
['hello', 'world']

**Question 7: Nested If with List Index**

In [19]:
my_list = [10, 20, 35, 40, 50]
abc = int(input("Enter an index: "))
if 0<= abc <= len(my_list):
    if my_list[abc] % 2 == 0 :
      print("valid index,even number")
    else:
      print("valid index,odd number")
else:
  print("invalid index")

Enter an index: 2
valid index,odd number

**Question 8: Remove Elements Meeting a Condition**

In [22]:
temperatures = [25, 30, 105, 28, 16, -5, 99]
new_temp = []
for temp in temperatures:
  if 0<= temp <= 100:
    new_temp.append(temp)
print(new_temp)

[25, 30, 28, 16, 99]

**Question 9: Simple List Search**

In [27]:
names = ['Alice', 'Bob', 'Charlie', 'Diana']
user = input("Enter a name: ")
for i in names:
  if i.lower() == user:
    print(f"{user} found at index {names.index(i)}")
    break
else:
  print(f"{user} not found in the list")

Enter a name: dev
dev not found in the list
Enter a name: bob
bob found at index 1

**Question 10: Combined Condition on Multiple List Properties**

In [29]:
numbers = [15, 7, 22, 9, 36, 12, 18]
new = []
for num in numbers:
  if num > 10 and num % 3 ==0:
    new.append(num)
print(new)

[15, 36, 12, 18]